<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-http-equiv="X-UA-compatible" content="IE-edge">
    <title>Coba Vue.js</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand&display=swap">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
  </head>

  <body>
    <section class="container" id="app">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <strong>
              <h4 v-text="namaStore"></h4>
            </strong>

            <input type="text" v-model="toko">
          </a>

          <div class="d-flex">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span v-bind:class="{active: nav === 'beranda'}">Beranda</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span v-bind:class="{active: nav === 'product'}">Product</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span v-bind:class="{active: nav === 'footer'}">Footer</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container mt-4" id="content">
        <div class="row">
          <div class="col-6 col-lg-3">
            <img :src="imgProduk" alt="..." width="200">
            <p class="mt-2">
              <label><input type="checkbox" value="Hitam" v-model="type">Hitam</label>
              <label><input type="checkbox" value="Putih" v-model="type">Putih</label>
            </p>
          </div>
          <div class="col-6 col-lg-3">
            <h4>Detail:</h4>
            <div class="row">
              <div class="col-6 col-sm-3">Kondisi</div>
              <div class="col-1">:</div>
              <div class="col-6 col-sm-3">Baru</div>

              <div class="w-100"></div>

              <div class="col-6 col-sm-3">Harga</div>
              <div class="col-1">:</div>
              <div class="col-6 col-sm-3">Rp450.000</div>

              <div class="w-100"></div>

              <div class="col-6 col-sm-3">Stock</div>
              <div class="col-1">:</div>
              <div class="col-6 col-sm-3" v-text="stock"></div>

              <div class="w-100"></div>

              <div class="col-6 col-sm-3">Type</div>
              <div class="col-1">:</div>
              <div class="col-6">{{ type }}</div>

              <div class="w-100"></div>

              <div class="col-6 col-sm-3">Qty</div>
              <div class="col-1">:</div>
              <div class="col-6 col-sm-3" v-text="cart"></div>

              <hr class="my-3">

              <div class="row col">
                <div class="col-6 col-sm-3">Total</div>
                <div class="col-1">:</div>
                <div class="col-6 col-sm-3">{{ totalBayar }}</div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <button @click="cart++, stock--" type="button" name="button" class="btn btn-primary" :disabled="isDisabledAdd">Tambah</button>
              </div>
              <div class="col">
                <button @click="cart--, stock++" type="button" name="button" class="btn btn-danger" :disabled="isDisabledRemove">Hapus</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 mt-4">
          <span class="badge bg-success">{{ active }}</span><h4>{{ namaProduk }}</h4>
          <p>{{ deskProduk }}</p>
        </div>
      </div>

      <footer id="footer" class="mt-4">
        <p>@copyright 2022</p>
      </footer>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="assets/js/main.js" type="text/javascript"></script>
  </body>
</html>
