body {
  font-family: 'Quicksand', sans-serif;
  background: #004c4c; color: #f0f8ff;
}

h4 {
  color: white;
}

ul.navbar-nav li a span.active {
  font-weight: bold;
  color: #f0f8ff;
}

.nav-item .nav-link {
  color: #66b2b2;
}

.nav-item .nav-link:hover {
  color: #f0f8ff;
}
